@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body{
    background: #363636;
    color: #FFF;
    font-family: "Roboto", monospace;
}

a{
    color:#FFDEAD;
}

input{
    position: relative;
    left: 9%;
}

.title{
    text-align: center;
}

.form{
    margin: 0 auto;
	width: 260px;
}
.form label{
	display: inline-block;
	text-align: right;
	float: left;
}

.form input{
	display: inline-block;
	text-align: left;
	float: right;
}

.form_buttons{
    padding-top: 5%;
    margin: 0 auto;
	width: 260px;
    text-align: center;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.products-table {
    border: 1;
}

.seller-container {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0 auto;
}

.seller-container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

