body{
    background: #363636;
    color: #FFF;
    font-family: "Lucida Handwriting", "Monaco", monospace;
}

a{
    color:#FFDEAD;
}

input{
    position: relative;
    left: 9%;
}

.title{
    text-align: center;
}

.form{
    margin: 0 auto;
	width: 260px;
}
.form label{
	display: inline-block;
	text-align: right;
	float: left;
}

.form input{
	display: inline-block;
	text-align: left;
	float: right;
}

.form_buttons{
    text-align: center;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.products-table {
    border: 1;
}