{% extends 'template.html' %}
{% block body %}
    <h2 class="title">Menu</h2>
    <ul>
        <li>
            <a href="/insert-marketplace">Insert Marketplace</a>
        </li>
        <li>
            <a href="/mktplaces_list">List Marketplaces</a>
        </li>
        <li>
            <a href="/insert-product">Insert Product</a>
        </li>
        <li>
            <a href="/products">List Products</a>
        </li>
        <li>
            <a href="/insert-sellers">Insert Seller</a>
        </li>
        <li>
            <a href="/sellers-listing">List Sellers</a>
        </li>
        <li>
            <a href="/logs">List Logs</a>
        </li>
        
        
        
    </ul>
{% endblock %}
