{% extends 'template.html' %}
{% block body %}
    <h2 class="title">Menu</h2>
    <ul>
        <li>
            <a href="/insert-marketplace">Insert marketplace</a>
        </li>
        <li>
            <a href="/insert-product">Insert product</a>
        </li>
        <li>
            <a href="/mktplaces_list">List Marketplaces</a>
        </li>
        <li>
            <a href="/create_category">Create Category</a>
        </li>
        <li>
            <a href="/list_category">List Categories</a>
        </li>
        <li>
            <a href="/log_list">Registered Logs</a>
        </li>
    </ul>
{% endblock %}
