{% extends 'template.html' %}
{% block body %}
    <h2 class="title">Menu</h2>
    <ul>
        <li>
            <a href="/insert_category">Insert Category</a>
        </li>
        <li>
            <a href="/list_categories">List Categories</a>
        </li>
        <li>
            <a href="/insert_marketplace">Insert Marketplace</a>
        </li>
        <li>
            <a href="/list_mktplaces">List Marketplaces</a>
        </li>
        <li>
            <a href="/insert_product">Insert Product</a>
        </li>
        <li>
            <a href="/list_products">List Products</a>
        </li>
        <li>
            <a href="/insert_seller">Insert Seller</a>
        </li>
        <li>
            <a href="/list_sellers">List Sellers</a>
        </li>

        <li>
            <a href="/list_logs">Registered Logs</a>
        </li>
    </ul>
{% endblock %}
