{% extends 'template.html' %}
{% block body %}
<div class="main-container">
    <h1> List of Marketplaces </h1>
    <table border="1" class="products-table">
        <thead>
            <tr>
                <th>Identifier</th>
                <th>Marketplace</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for mktplace in mktplaces %}
              <tr>
                <td>{{ mktplace.id }}</td>
                <td>{{ mktplace.name }}</td>
                <td>{{ mktplace.description }}</td>
                <td>                        
                    <a href="/delete_marketplace/{{ mktplace.id }}">Delete</a>
                    <br>
                    <a href="/update_marketplace/{{ mktplace.id }}">Update</a>
                </td>
              </tr>
            {% endfor %}
        </tbody>
        <tfoot></tfoot>
    </table>
    <a href="/">Back</a>
</div>
{% endblock %}
