{% extends 'template.html' %}
{% block body %}
<div class="main-container">
    <h1> List of Products </h1>
    <table border="1" class="products-table">
        <thead>
            <tr>
                <th>Identifier</th>
                <th>Product</th>
                <th>Description</th>
                <th>Price</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products%}
            <tr>
                <td>{{product.id}}</td>
                <td>{{product.name}}</td>
                <td>{{product.description}}</td>
                <td>R$ {{product.price}}</td>
                <td>
                    <button onclick="location.href='list_products?id={{product.id}}'" type="button">Deletar</button>
                    <button onclick="location.href='update_product?id={{product.id}}'" type="button">Update</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/">Back</a>
</div>
{% endblock %}