{% extends 'template.html' %}

{% block body %}

<h1> List of Categories </h1>

    <table>
        <thead>
            <tr>
                <th>Category</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
                <tr>
                    <td>{{ category['name'] }}</td>
                    <td>{{ category['description'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot></tfoot>
    </table>

<a href="/">Back</a>

{% endblock %}