{% extends 'template.html' %}
{% block body %}
<div class="main-container">
    <table border="1" class="products-table">
        <thead>
            <tr>
                <th>Product</th>
                <th>Description</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products%}
                <tr>
                    <td>{{product[0]}}</td>
                    <td>{{product[1]}}</td>
                    <td>R$ {{product[2]}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="/">Back</a>
</div>

{% endblock %}