{% extends 'template.html' %}

{% block body %}
    <h2> List of Logs </h2>
    <table>
        <thead>
            <tr>
                <th> Registered Logs </th>
            </tr>
        </thead>
        <tbody>
            {% for log in list %}
            
                <tr>
                    {% if log[3] == "Listed" %}
                        <td style="color: red;">{{ log[0]}} | {{log[1]}} | {{log[3]}} | {{log[2]}}</td>
                    {% endif %}

                    {% if log[3] == "Saved" %}
                        <td style="color: rgb(255, 183, 0);">{{ log[0]}} | {{log[1]}} | {{log[3]}} | {{log[2]}}</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
        <tfoot></tfoot>
    </table>
{% endblock %}