{% extends 'template.html' %}
{% block body %}
<div class="main-container">
    <h1> List of Categories </h1>
    <table border="1" class="products-table">
        <thead>
            <tr>
                <th>Identifier</th>
                <th>Category</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>{{ category.description }}</td>
                <td>
                    <button onclick="location.href='list_categories?id={{category.id}}'" type="button">Deletar</button>
                    <button onclick="location.href='/update_category/{{category.id}}'" type="button">Update</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p>{{message}}</p>
    <a href="/">Back</a>
</div>
{% endblock %}