{% extends 'template.html' %}
{% block body %}

<div class="main-container">
    <table border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Phone</th>
                <th>E-mail</th>
            </tr>
        </thead>
        <tbody>
            {% for seller in sellers %}
                <tr>
                    <td>{{seller["name"]}}</td>
                    <td>{{seller["phone"]}}</td>
                    <td>{{seller["email"]}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="/">Back</a>
</div>

{% endblock %}