{% extends 'template.html' %}
{% block body %}
<div class="seller-container">
    <h2 class="title">Update Seller</h2>
    <form action="/update_seller/{{ seller.id }}">
        <div class="form">
            <label name="name">Name:</label>
            <input type="text" name="name" for="name" value="{{ seller.name }}" required/>
        </div>
        <div class="form">
            <label name="phone">Phone:</label>
            <input type="text" for="phone" name="phone" placeholder="(99) 99999-9999" value="{{ seller.phone }}" required/>
        </div>

        <div class="form">
            <label name="email">E-mail:</label>
            <input type="email" name="email" for="email" value="{{ seller.email }}" required/>
        </div>
        
        <br>
        <div class="form_buttons">
            <button onclick="location.href='/list_sellers'" type="button">Cancel</button>
            <input type='submit' value='Update' />
        </div>
    </form>

</div>

{% endblock %}
